@model IQueryable<Group>
@{
    string strTitle = "Тьюторинг";
    ViewBag.Title = strTitle;
}

<div>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Groups')">Группы</button>
        <button class="tablinks" onclick="openTab(event, 'Students')">Студенты школы</button>
    </div>

    <div id="Groups" class="tabcontent">
        <h3>Группы</h3>
        <div class="div-box">
            <a asp-area="Tutor" asp-controller="Group" asp-action="Edit" asp-route-id="">Добавить группу</a>
        </div>
        @if (Model.Any())
        {
            <div>
                @foreach (Group group in Model)
                {
                    <div>
                        <a asp-area="Tutor" asp-controller="Group" asp-action="Edit" asp-route-id="@group.Id">редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-@group.Id" asp-area="Tutor" asp-controller="Group" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@group.Id">
                            <a href="#" onclick="document.getElementById('form-@group.Id').submit();">удалить</a>
                        </form>
                        |
                        <a asp-area="" asp-controller="Group" asp-action="Index" asp-route-id="@group.Id">
                            @($"Группа {group.Id} - {group.Beginning}")
                        </a>
                    </div>
                }
            </div>
        }

        <h3>Группа и студент</h3>
        <div class="form-wrapper">
            <label for="studentIdSelect">Студент:</label>
            @Html.DropDownList("studentIdSelect", new SelectList(ViewBag.Students, "Value", "Text"), "Выберите студента", new { id = "studentIdSelect" })

            <label for="groupIdSelect">Группа:</label>
            @Html.DropDownList("groupIdSelect", new SelectList(ViewBag.Groups, "Value", "Text"), "Выберите группу", new { id = "groupIdSelect" })

            @using (Html.BeginForm("AddStudentToGroup", "Student", FormMethod.Post, new { id = "addStudentForm" }))
            {
                <input type="hidden" name="studentId" id="addFormStudentId" />
                <input type="hidden" name="groupId" id="addFormGroupId" />
                <input type="submit" value="Добавить" />
            }

            @using (Html.BeginForm("RemoveStudentFromGroup", "Student", FormMethod.Post, new { id = "removeStudentForm" }))
            {
                <input type="hidden" name="studentId" id="removeFormStudentId" />
                <input type="hidden" name="groupId" id="removeFormGroupId" />
                <input type="submit" value="Удалить" />
            }
        </div>

        <style>
            .form-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        </style>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('addStudentForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    document.getElementById('addFormStudentId').value = document.getElementById('studentIdSelect').value;
                    document.getElementById('addFormGroupId').value = document.getElementById('groupIdSelect').value;
                    this.submit();
                });

                document.getElementById('removeStudentForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    document.getElementById('removeFormStudentId').value = document.getElementById('studentIdSelect').value;
                    document.getElementById('removeFormGroupId').value = document.getElementById('groupIdSelect').value;
                    this.submit();
                });
            });
        </script>

    </div>

    <div id="Students" class="tabcontent">
        <div class="div-box">
            <a asp-area="Tutor" asp-controller="Student" asp-action="Edit" asp-route-id="">Добавить студента</a>
        </div>
        
        <h3>Список студентов</h3>
        <div id="studentsComponent">
            @await Component.InvokeAsync("Students", new { page = 1, pageSize = 3});
        </div>
    </div>
    
</div>



<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            .tab button:hover {
                background-color: #ddd;
            }

            .tab button.active {
                background-color: #ccc;
            }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="div-box">
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Выйти" />
    </form>

</div>