@model Tuple<IEnumerable<Student>, PageViewModel>

@{
    var students = Model.Item1;
    var pageInfo = Model.Item2;
}

@foreach (var student in students)
{
    <div>
        <a asp-area="Tutor" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id" >редактировать</a>
        |
        <form style="display: inline-block;" id="form-@student.Id" asp-area="Tutor" asp-controller="Student" asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@student.Id">
            <a href="#" onclick="document.getElementById('form-@student.Id').submit();">удалить</a>
        </form>
        |
        @($"{student.Name} {student.Surname}")

    </div>
}

<div>
    @if (pageInfo.HasPreviousPage)
    {
        <a href="javascript:void(0)" onclick="updateStudents(@(pageInfo.PageNumber - 1), @pageInfo.PageSize)">Назад</a>
    }

    @if (pageInfo.HasNextPage)
    {
        <a href="javascript:void(0)" onclick="updateStudents(@(pageInfo.PageNumber + 1), @pageInfo.PageSize)">Вперед</a>
    }
</div>

<script>
    function updateStudents(page, pageSize) {
        $.ajax({
            url: '@Url.Action("GetStudentsComponent", "Home")',
            data: { page: page, pageSize: pageSize },
            type: 'GET',
            success: function (result) {
                $('#studentsComponent').html(result);
            },
            error: function (error) {
                console.error('Ошибка AJAX:', error);
            }
        });
    }
</script>
